:root {
  --primary-color: #8b31ff;
  --secondary-color: #dadada;
  --background-color:#120e16;
}
a{
    text-decoration: none;
}
body{
    background: var(--background-color);
    color: var(--secondary-color);
    font-family:"JetBrains Mono","Fira Code",monospace;
}
/* navbar srt */
    nav {
      /* box-shadow: 0 2px 5px rgb(121, 0, 0); */
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1000;
    }

    .navbar {
      max-width: 1200px;
      margin: auto;
      padding: 0.8rem 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .logo {
      font-size: 1.5rem;
      font-weight: bold;
      color: #333;
    }

    .nav-links {
      display: flex;
      gap: 2rem;
    }

    .nav-links a {
      text-decoration: none;
      color: #333;
      font-weight: 500;
      transition: color 0.3s;
    }

    .nav-links a:hover {
      color: #007BFF;
    }

    /* Mobile Menu */
    .menu-toggle {
      display: none;
    }

    .hamburger {
      display: none;
      flex-direction: column;
      cursor: pointer;
      gap: 5px;
    }

    .hamburger span {
      width: 25px;
      height: 3px;
      background: #333;
      transition: 0.3s;
    }

    /* Responsive */
    @media (max-width: 768px) {
       html, body
    {
      -ms-content-zooming:none;  
      /* touch-action: none; */
      content-zooming: none;
      /* overflow-y: hidden; */
    /* overflow-x: hidden;  */
    /* overflow-y: none; */
    overflow-x: none; 
    }

      .nav-links {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        /* width: 100%; */
        /* background: white; */
        flex-direction: column;
        align-items: center;
        display: none;
        /* padding: 1rem 0; */
        padding: 15px 20px;
        text-align: center;
        width: 95%;
        margin-left:4%;
      }

      .menu-toggle:checked ~ .nav-links {
        display: flex;
        backdrop-filter: blur(10px);
        padding: 50% 0 50% 0px;

      }
      .menu-toggle:checked ~ .navbar {
        /* display: flex; */
                backdrop-filter: blur(30px);
        /* padding: 50% 0 50% 0px; */

      }

      .hamburger {
        display: flex;
      }
      nav {
        width: 86%;
      }
      .navbar {
      width: 90%;
      margin: 0;;
    }
    .nav-links a:hover {
    box-shadow: #8b31ff 0px 0 200px;
    border: 2px solid var(--primary-color);
    width: 100%;
    
    padding: 15px 20px;
    text-align: center;
    }
}
/* navbar end */
/* .round_dsn{
        width: 700px;
    background-color: #7000ff;
    height: 700px;
    border-radius: 1000%;
    float: right;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 1000%;
    } */
.header{
    height:60px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 15%;
    gap: 20%;
    /* position: relative; */
    /* display: flex; */
    /* float: left; */
    /* justify-content: center; */
    width: 70%;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    align-content: space-around;
    
    
}
.main_logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
    /* float: left; */
}
.main_logo img{
    height:60px;
}
.con_list{
    font-size: 17px;
    /* position:static; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
    width: 80%;
    /* float:right ; */

}
.nav-links a{
    padding: 0px;
    text-decoration: none;
    color: whitesmoke!important;
    /* padding: 10% 30% 10% 30%; */
    padding: 2% 5% 2% 5%;
    /* margin: 5px; */
    /* margin-left: 20%; */
    /* position: auto; */
    transition: 0.4s linear!important;
    
}
.nav-links a:hover{
    box-shadow: #8b31ff 0px 0px 8px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    transition: 0.4s linear!important;
    
    
}

.res_a{
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    
    
}
.res_a:hover{
    border: 2px solid var(--primary-color);
    box-shadow: #8b31ff 0px 0px 5px;
    border-radius:5px!important;
    background:linear-gradient(var(--primary-color));
    margin: 0px!important;
    transition: 0.4s linear!important;
}
.dev_txt{
    margin-top: 2%;
    font-size: 300px;
    float: right!important;
    margin-left: 100%;
    font-weight: 800;
    transform: rotateZ(90deg);
    color: #5a5a5a54;
}
.main_info{
    margin-top: 15%;
    position: absolute;
    display: flex;
    float: left;
    justify-content: center;
    width: 70%;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
}
.in_name{
    font-size: 20px;
    color: var(--primary-color);
}
.name{
    margin-top: 1%;
    font-size: 120px;
    font-family: "Josefin Sans", sans-serif;
}
.quote{
    margin-top: 2%;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    color: #BDB4D8;
    font-size: 25px;
}
.main_links{
    font-size: 15px;
    
    margin-top: 16%;
}
.main_links a{
    margin-left: 8%;
    color:#8E8E8E ;
}
.main_links a:hover{
    text-decoration: solid!important;
}
.bar{
    content: "";
    bottom: -.2rem;
    left: 0;
    width: 98%;
    height: 6px;
    border-radius: 1rem;
    background-image: linear-gradient(90deg, #9f55ff, #7000ff);
    box-shadow: 0 0 1rem #7000ff;
    border-radius: 20px;
    width: 230px;
    margin-top: -20px;
    margin-left: -5px;
}
.skl_br{
    margin-top: -3px;
    width: 60px;
    height: 2px;
    margin-left: 1px;
}
.about_me{
    background-color: #1A171E;
    width: 100%;
    margin: -8px;
    padding: 8px;
    margin-top: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: flex-start;
}
.abt_container{
    width: 70%;
    /* background-color: red */
    /* position: relative; */
 
}
.abt_title{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-size: 45px;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items: center;
}
.abt_title p{
    margin-left: 2%;
    margin-top: 4%;
}
.abt_content{
    display: flex;
    gap: 10%;
}
.abt_bio{
    width: 60%;
}
.abt_img{
    width: 30%;
}
.abt_img img{
        width: 90%;
    /* height: 500px; */
}
l{
    color: var(--primary-color);
}
.abt_bio p {
    font-size: 18px;
}
.skill_con{
    width: 100%;
    margin: -8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: flex-start;
}
.social_title{
    font-family: system-ui;
    font-size: 30px!important;
    font-weight: 500;
    color: var(--primary-color);
}
.abt_social_lnk{
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    gap: 5%;
    align-items: center;
    justify-content: flex-end;
}
.abt_social_lnk svg{
   font-size: 25px;
   
   
}
.abt_social_lnk svg:hover{
    stroke: #7000ff;
    
}
.X:hover{
    fill: #7000ff;
}
.skl_title{
        font-family: "Josefin Sans", sans-serif;
        display: flex;
        align-items: center;
}
.skl_title svg{
    margin-top:-5px;
    height: 50px; 
    padding-right: 3%;
    stroke:white; 
}
.skl_title h1{
    margin-left: 10%;
}
/* SKills */

.center{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-between;
  margin-top: 15%;
  position:absolute;
  width:60%;
  /* top: 70%; */
  left:50%;
  transform:translate(-50%,-50%);
  padding:50px;
  box-sizing:border-box;
  /* background-color:#333; */
  /* box-shadow:0 20px 50px rgba(0,0,0,0.5); */
}
.skillbox{
  width:100%;
  margin:20px 0;
}
.skillbox p svg{
  color:#fff;
  margin: 0 0 -40px -45px;
  letter-spacing:1px;
  font-weight:bold;

}
.skillbox svg{
    height: 30px;
    fill: #D6CFE2;
}
.skillbox p:nth-child(2){
  position:relative;
  float:right;
  top:-50px;
}
.skill{
  background-color:#262626;
  padding: 2px;
  border:1px solid var(--primary-color);
  border-radius:10px;
}
.skill_level{
  background-image:linear-gradient(45deg ,var(--primary-color),#4400ff);
  width:100%;
  border-radius: 10px;
  height:5px;
}
.skl_ititle{
    margin-top: 8%;
    margin-bottom: -35px;
    display: flex;
    align-items: center;
    margin-left: -12%;
}
.skl_ititle h2{
    font-family: 'Josefin Sans';
    padding-left: 1%;
}
.tlt_icon{
    /* margin-left: 20px; */
    height: 30px;
    fill:#8b31ff;
}
/* Skills */
.contact{
    /* margin-top: 60%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-items: normal;
}
.con_title{
    /* margin-top: 60%; */
    margin-top: 35%;
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
}
.con_title svg{
    height: 35px;
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact-form{
    width: 70%;
    margin-left: 30%;
    display: flex;
    flex-direction: column;
}
.con_in{
    width: 50%;
    color: var(--secondary-color);
    font-family: unset;
    font-size: 18px;
    background: transparent;
    border: var(--primary-color) solid 2px;
    padding: 1% 5% 1% 1%;
    border-radius: 5px;
    
}
.con_in:focus-visible{
    background: #7d21f52e;
    outline: none!important;
    border: var(--primary-color) solid 2px;
    box-shadow: var(--primary-color) 0px 0px 10px;
}
.submit{
        width: 12% !important;
    border: var(--primary-color) solid 2px;
    font-family: 'Josefin Sans';
    font-weight: 700;
    font-size: 18px;
    background: #8b31ff26;
    color: var(--secondary-color);
    padding: 15px 0 15px 0px;
    border-radius: 5px;
    margin-left: 23%;

}
.contact_me{
    width: 100%;
    height: 100%;
    padding-bottom: 5%;
    background-color: #1A171E;
}
footer{
    width:100%;
    background-color: var(--background-color);

}
footer h4{
    text-align: center;

}
footer h4 a{
    color: var(--primary-color);
    
}
footer h4 a:active{
    color: var(--primary-color);
    
}
.frontend{
    width: 40%;
}
.backend{
    width: 40%;
}
.database{
    width: 40%;
}
.tools{
    width: 40%;
}
@media (max-width:768px) {
    .name{
        font-size: 65px;
    }
    .bar{
        margin-top: -10px;
    }
    .quote{
        /* font-size: 18px; */
        margin-top: 10%;
    }
    .abt_bio {
    width: 95%;
    }
    .abt_content {
    display: flex;
    gap: 0%;
    flex-direction: column;
    }
    .abt_img {
    width: 100%;
    }
    .abt_img img{
    width: 100%;
    }
    .abt_social_lnk{
        justify-content: center;
    }
    .center{
        width: 100%;
        flex-direction: column;
        margin-top: 120%;

    }
    .contact_me{
            margin-top: 300%;
    }
    .frontend{
    width: 90%;
    margin-left:15%
    }
    .backend{
    width: 90%;
    margin-left:15%
    }
    .database{
    width: 90%;
    margin-left:15%
    }
    .tools{
    width: 90%;
    margin-left:15%
    }
    .abt_container{
    width: 95%;
    }
    #contact-form {
    width: 100%;
    align-items: center;
    margin-left: 0;
    }
    .submit{
        margin-left: 0;
        width: 30% !important;
        padding: 10px 0 10px 0px;
    }
    .con_list a{
        display:none;
    }
    .con_list p{
        display:none;
    }
    .about_me{
        margin-top: 190%;
    }
    .in_name {
    font-size: 16px;
    }
    .main_info {
    margin-top: 40%;
    padding-left: 8%;
    }
    .main_links a {
    margin-top: 10%;
    }
    .main_links{
        margin-top: 50%;
    }
    .header{
        margin-left: 6%;
    }
    .skl_br{
    margin-top: 0px;   
    }
}